# Python / Environment
__pycache__/
*.py[cod]
.venv/
.env

# Logs and Outputs
lightning_logs/
*.wav
*.png
*.jpg

# Checkpoints and Models
*.ckpt
*.pt
*.pth

# Dataset
LJSpeech-1.1/
*.tar.bz2
*.tar.gz
*.zip

# Generated artifacts
generator*

# Misc
.DS_Store
.vscode/